

<html lang="en" >

    <head>
      <meta charset="UTF-8">
      
    </head>
    <body>
      <section>
      <h1> displaying all your coupons</h1>
     
        <table style="margin-left: 10px" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Amount</th>
              <th>Message</th>
              <th>Type</th>
              <th>Price</th>
              <th>Start date</th>
              <th>End date</th>
              <th>Image</th>
            </tr>
            <tr *ngFor= "let c of _purchasedcoupons">
              <td>{{c.id}}</td>
              <td>{{c.title}}</td>
              <td>{{c.amount}}</td>
              <td>{{c.message}}</td>
              <td>{{c.type}}</td>
              <td>{{c.price | currency : 'ILS'}}</td>
              <td>{{c.startDate | date : "dd/MM/yyyy"}}</td>
              <td>{{c.endDate | date : "dd/MM/yyyy"}}</td>
              <td><img src ="{{c.image}}"></td>
            </tr>
            </thead>
      
        </table>
     
    </section>
    
    </body>
