<ul class="nav navbar-nav navbar-right">
    <li><a href="http://localhost:4200/login.html" id="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>    

<hr>
<button class="btn btn-primary navbar-btn" routerLink="/purchasecoupon">Purchase Coupon<span class="glyphicon glyphicon-search"></span></button>
<button class="btn btn-primary navbar-btn" routerLink="/getallpurchasedcoupons">get all purchased coupons<span class="glyphicon glyphicon-search"></span></button>
<button class="btn btn-primary navbar-btn" routerLink="/getallpurchasedcouponsbytype">get all purchased coupons by type  <span class="glyphicon glyphicon-search"></span></button>
<button class="btn btn-primary navbar-btn" routerLink="/getallpurchasedcouponsbyprice">get all purchased coupons by price  <span class="glyphicon glyphicon-search"></span></button>
<br>
<br>
<router-outlet></router-outlet>
